*          { margin: 0; padding: 0; }
body, html { height: 100%; }

a { text-decoration: none; }

#map       { height: 100%; width: 100% }

#loading   { position: absolute;
             top: 50%;
             left: 50%;
             height: 2em;
             width: 10em;
             margin-left: -5em;
             margin-top: -5em;
             z-index: 1000;
             background-color: black;
             border-radius: 5px;
             color: white;
             font-size: 1.5em;
             text-align: center;
             line-height: 2em;
             display: none; }



#tip-broken { position: absolute;
              padding: 1em;
              top: 0;
              right: 0;
              width: 50px;
              height: 54px;
              z-index: 1001; }

#splash     { position: absolute;
              padding: 1em;
              top: 25%;
              left: 25%;
              width: 50%;
              max-height: 50%;
              overflow: auto;
              z-index: 1001;
              background-color: white;
              border-radius: 5px;
              display: none; }

#splash p    { margin-top: 1em; }



p.station-status            { margin: 0.5em 0; color: red; font-weight: bold; }
.station-available-stands   { font-size: 1.3em; font-weight: bold;}
.station-separator          { }
.station-total-stands       { }

.leaflet-control-attribution { box-shadow: none!important; }


.leaflet-center { width: 100%;
                  height: 100%; }

.leaflet-control-container  { height: 100%; }

.leaflet-control-zoom       { box-shadow: none;}

.leaflet-bar                { border: none; }

.leaflet-popup-tip          { box-shadow: none; }

div.leaflet-popup-content-wrapper { box-shadow: none; border-radius: 5px; }

.leaflet-control-cities     { margin: 0 -25%; padding: 10px;
                              position: absolute;
                              max-height: 75%;
                              overflow: auto;
                              left: 50%;
                              width: 50%;
                              overflow: auto;
                              border-radius: 5px;
                              background-color: white; }

.leaflet-control-cities-base { }

.leaflet-control-cities-expanded .leaflet-control-cities-toggle,
.leaflet-control-cities .leaflet-control-cities-list             { display: none; }

.leaflet-control-cities-expanded .leaflet-control-cities-list    { display: block; }

.leaflet-control-cities-entry           { padding: 0 0.5em; }

.leaflet-control-cities-entry:hover     { background-color: #DDD; }

.velimonde-sample       { display: inline-block;
                          width:0.8em;
                          height:0.8em; }

.velimonde-empty        { background-color: #F55; }
.velimonde-full         { background-color: #55F; }
.velimonde-ok           { background-color: #0C0; }
.velimonde-closed       { background-color: #000; }

span.velimonde-country  { float: right;
                          margin-left:2em; }
