{% extends "bare.html" %}
{% block title %}Vélimonde - Bug ?{% endblock %}
{% block body %}
    <h2>Comment ça marche / How does it work</h2>
    <p>
    Il suffit de sélectionner une ville dans la liste en haut à gauche. Commence pas à zoomer, ya que du vide en dessous,
    si la ville qui t'intéresse n'est pas dans la liste, ben t'as perdu.
    </p>
    <p>
    Simply choose your city of interest in the drop-down list in the top left-hand corner. Do NOT try to zoom into oblivion, that's useless.
    If the city you're looking for is not in the list, well, too bad, it won't show on the map either.
    </p>

    <h2>Chez toi ça marche pas ? / Looks like it's broken?</h2>
    <p>
    Essaie de vider le cache (en général Maj-F5, depuis la page <a href="{{ url_for('index') }}">principale</a>).
    Sinon prends 2 minutes pour détailler ta config (OS, navigateur, etc.) dans un <a href="https://github.com/gapato/velimonde/issues">rapport de bug</a> sur Github
    ou dans les <a href="http://linuxfr.org/users/gapato/journaux/velimonde">commentaires</a> du journal Linuxfr ! Merci !
    <p>
    <p>
    Try flushing your cache (usually Shift-F5, on the <a href="{{ url_for('index')}}">main</a> page).
    If it doesn't help, please file a <a href="https://github.com/gapato/velimonde/issues">bug report</a> on Github including OS and browser! Thanks!
    <p>
    <p>
    Contact: velimonde@oknaj.eu
    </p>
{% endblock %}
