{% extends "bare.html" %}
{% block title %}Vélimonde - Bug ?{% endblock %}
{% block body %}
    <h2>Comment ça marche / How does it work</h2>
    <p>
    Pour commencer, choisis un ville en haut à gauche, ça ne sert à rien de zoomer avant. Tu peux ensuite accéder
    aux détails d'une station en cliquant dessus. Commence pas à zoomer, ya que du vide en dessous,
    si la ville qui t'intéresse n'est pas dans la liste, ben t'as perdu.
    </p>
    <p>
    To get started, pick a city in the top left-hand corner, zooming in before that is useless. Then, you can
    access the details of a given station by clicking on it. Do NOT try to zoom into oblivion, that's useless.
    If the city you're looking for is not in the list, well, too bad, it won't show on the map either.
    </p>

    <h2>Chez toi ça marche pas ? / Looks like it's broken?</h2>
    <p>
    Essaie de vider le cache (en général Maj-F5, depuis la page <a href="{{ url_for('index') }}">principale</a>).
    Sinon prends 2 minutes pour détailler ta config (OS, navigateur, etc.) dans un <a href="https://github.com/gapato/velimonde/issues">rapport de bug</a> sur Github
    ou dans les <a href="http://linuxfr.org/users/gapato/journaux/velimonde">commentaires</a> du journal Linuxfr ! Merci !
    <p>
    <p>
    Try flushing your cache (usually Shift-F5, on the <a href="{{ url_for('index')}}">main</a> page).
    If it doesn't help, please file a <a href="https://github.com/gapato/velimonde/issues">bug report</a> on Github including OS and browser! Thanks!
    <p>
    <p>
    Contact: velimonde@oknaj.eu
    </p>
{% endblock %}
