{% extends "layout.html" %}
{% block body %}
<div id="map">
    <div id="tip-broken">
        <a href="{{ url_for('cmcmp') }}">
            <img alt="cass&eacute; ? - broken?" src="{{ url_for('static', filename='img/help.png') }}">
        </a>
    </div>
</div>
<div id="loading">Loading</div>
<div id="splash" onclick="$('#splash').hide()">
    <h2>Hello!</h2>
    <p>
    Pour commencer, choisis un ville en haut à gauche, ça ne sert à rien de zoomer avant. Tu peux ensuite accéder
    aux détails d'une station en cliquant dessus. Commence pas à zoomer, ya que du vide en dessous,
    si la ville qui t'intéresse n'est pas dans la liste, ben t'as perdu.
    </p>
    <p>
    To get started, pick a city in the top left-hand corner, zooming in before that is useless. Then, you can
    access the details of a given station by clicking on it. Do NOT try to zoom into oblivion, that's useless.
    If the city you're looking for is not in the list, well, too bad, it won't show on the map either.
    </p>
</div>
{% endblock %}


