<!doctype html>
<html>
<head>
    <title>Vélimonde</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.css') }}" />
    <!--[if lte IE 8]>
       <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.ie.css') }}" />
    <![endif]-->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

    <!-- JS -->
    <script>L_PREFER_CANVAS = true;</script>
    <script>var VELIMONDE_INIT_CITY = '{{ initial_city }}';</script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/jquery.min.js') }}">\x3C/script>')</script>
    <script src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/cookies.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/map.js') }}"></script>

</head>

<body>
    {% block body %}{% endblock %}
</body>
</html>
