{% extends "bare.html" %}
{% block title %}Vélimonde - Licensing{% endblock %}
{% block body %}
<h2 id="vlimonde">Vélimonde</h2>

<p>Vélimonde source is available under the <a href="http://www.wtfpl.net/txt/copying/">WTFPL</a> and currently hosted <a href="https://github.com/gapato/velimonde/">Github</a>.</p>

<h2 id="real-time-data">Real time data</h2>

<p>Vélimonde uses real time data provided by:</p>

<ul>
  <li><a href="https://developer.jcdecaux.com/">JCDecaux</a>, under ODC-BY, CC-BY 2.0 license.</li>
  <li><a href="http://www.tfl.gov.uk/businessandpartners/syndication/default.aspx">Transport for London</a>, licensing does not allow distribution.</li>
  <li><a href="http://data.keolis-rennes.com/">Keolis Rennes</a></li>
  <li><a href="http://data.lacub.fr/">LACUB</a></li>
</ul>

<h2 id="map-tiles">Map tiles</h2>

<p>The map tiles are provided by <a href="http://www.opencyclemap.org/">OpenCycleMap</a>. The underlying
data is the property of the <a href="http://www.openstreetmap.org/">OpenStreetMap</a> contributors.</p>

<h2 id="included-andor-relied-upon-libraries">Included and/or relied upon libraries</h2>

<ul>
  <li><a href="https://github.com/ScottHamper/Cookies">Cookies.js</a>, by Scott Hamper</li>
  <li><a href="http://leafletjs.com/">LeafletJS</a></li>
  <li><a href="http://flask.pocoo.org/">Flask</a></li>
  <li><a href="http://tango.freedesktop.org/Tango_Desktop_Project">Tango icon theme</a></li>
  <li><a href="http://jquery.com/">jQuery</a></li>
  <li><a href="http://www.famfamfam.com">Famfamfam</a> flag icons</li>
</ul>

{% endblock %}
