{% extends "bare.html" %}
{% block title %}Vélimonde - {{ city }} - {{ info['name'] }}{% endblock %}
{% block body %}
<h3>
{{ city }}
</h3>
<p>
    {{ info['name'] }}
</p>
{% if not info['open'] %}
<p>This station is CLOSED!</p>
{% endif %}
<span style="font-weight: bold; font-size:1.5em">{{ info['available_bikes'] }}</span>/{{ info['bike_stands'] }} bikes here
</p>
<p>
updated : {{ info['last_update'] | tomin }} minute(s) ago
</p>
<p>
Get it as <a href="{{ url_for('station_info', city=city, station_id=info['id'])+'.json' }}">JSON</a>
</p>
{% endblock %}
